# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
/package-lock.json
/node_modules/
/server/dist/
/frontend/package-lock.json
/frontend/dist/
/frontend/node_modules/
/release/
/server/config/
.idea
/config/
/server/go.sum
/miniapp/node_modules/
/miniapp/project.private.config.json
/miniapp/package-lock.json
.DS_Store
param_PHY_CHE_BIO_3+1+2_no_req_1762082401344906000.json
param_PHY_CHE_BIO_3+3_no_req_1762082401344328000.json
param_PHY_CHE_BIO_3+3_yes_req_1762082401342512000.json
PHY_CHE_BIO_3+1+2_1.json
questions_3+3_ASC_20251102_112929.json
questions_3+3_ASC_20251102_113126.json
questions_3+3_ASC_20251113_174756_电子制作.json
questions_3+3_ASC_20251113_174921_旅行.json
questions_3+3_OCEAN_20251102_112929.json
questions_3+3_OCEAN_20251102_113126.json
questions_3+3_RIASEC_20251102_112929.json
questions_3+3_RIASEC_20251102_113126.json
questions_3+3_RIASEC_20251113_174756_电子制作.json
questions_3+3_RIASEC_20251113_174921_旅行.json
report_unified_v5_3+1+2.json
.vscode/settings.json
frontend/.DS_Store
frontend/public/.DS_Store
frontend/src/.DS_Store
frontend/src/views/.DS_Store
frontend/src/views/components/.DS_Store
server/.DS_Store
server/pre_test/.DS_Store
1.log
